body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  height: 200px;
  border-radius: 8px;
}

h1 {
  font-size: 36px;
}

.login-signup-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.login-form {
  margin: 30px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-input-container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 3px;
  margin: 20px 0;
}

input {
  width: 350px;
  height: 30px;
  text-align: center;
  margin: 20px 0;
}

.movie-input {
  margin: 0;
  width: 230px;
  border: none;
  outline: none;
}

.movie-icon {
  height: 30px;
}

.tv-input-container {
  width: 350px;
  display: flex;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 3px;
  margin: 20px 0;
}

.tv-input {
  margin: 0;
  width: 290px;
  border: none;
  outline: none;
}

.tv-icon {
  height: 30px;
  margin-left: 2px;
}

.adult-icon {
  height: 32px;
  border-radius: 0;
}
.adult-icon-clicked {
  height: 32px;
  border-radius: 0;
  background-color: #ff0000;
}
.adult-icon-clicked:hover {
  cursor: pointer;
}
.adult-icon:hover {
  cursor: pointer;
  background-color: #ff0000;
}

.link-btn {
  display: inline-block;
  outline: none;
  color: #f1e6f9;
  background-color: #9a44d4;
  border: none;
  text-decoration: none;
  font-size: 14px !important;
  width: 354px;
  height: 25px;
  margin: 6px 10px;
  font-weight: 500;
  padding-top: 3px;
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 50px;
}

.show-card {
  width: 200px;
  height: 275px;
  margin: 15px 5px;
}

.show-link {
  text-decoration: none;
  color: #000000;
  margin: 0px;
}
button:hover {
  cursor: pointer;
}
.search-controls-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-notes {
  text-align: justify;
}

.show-notes p {
  font-weight: 700;
  margin-bottom: 2px;
}

textarea {
  width: 100%;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.hero-h1 {
  transform: translateY(11px);
  font-size: 64px;
}

.show-focus-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.show-focus-container {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  width: 350px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.on-focus-btn-container {
  margin-left: -10px;
}

.show-title {
  font-size: 46px;
  margin: 0;
}

.release-date {
  margin: 0 0 7px 0;
}

.home-page {
  min-height: 61vh;
}

.login-page {
  min-height: 63vh;
}
#root {
  position: relative;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ====================================== */
@media only screen and (max-width: 846px) {
  .hero-h1-container {
    width: 30vw;
  }

  h1 {
    font-size: 4.5vw;
  }

  .hero-h1 {
    font-size: 7.5vw;
  }
}

/* ===================================== */
@media only screen and (max-width: 750px) {
  .search-controls-container {
    margin-bottom: 25px;
  }

  form {
    width: 58vw;
  }

  .login-form {
    margin: 0 0 20px 0;
  }

  footer {
    padding: 5px 0;
  }

  input {
    width: 56.5vw;
    max-width: 302px;
    margin-bottom: 0px;
  }

  .movie-input-container,
  .tv-input-container {
    width: 100%;
    max-width: 310px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .movie-input {
    width: 40vw;
    max-width: 220px;
  }

  .tv-input {
    width: 48vw;
    max-width: 250px;
  }

  .link-btn {
    width: 58vw;
    max-width: 310px;
    margin: 6px 40px;
  }

  .hero-container {
    width: 75%;
    justify-content: center;
    margin: 0 auto;
  }

  .show-focus-container {
    width: 310px;
  }

  .hero-img {
    width: 20vw;
    height: auto;
  }

  .hero-h1-container {
    width: 30vw;
  }

  .hero-h1 {
    font-size: 7vw;
    margin: 0;
    transform: translateY(6px);
  }
  footer {
    font-size: 10px;
    height: 30px;
  }
}
